table {
    border-collapse: collapse;
}

td {
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    cursor:text;
}

td[colspan = '3'] {
    text-align: center;
    cursor: pointer;

}